<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IPAddress" value="192.168.10.22"/>
    <add key="CIPPath" value="0"/>
    <add key="Timeout" value="3000"/>
    <add key="UpdateRate" value="50"/>
    <add key="History" value="0"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
